---
title: Web Application Programmer | Adam Martiník
description: Zajišťuji tvorbu webu komplexně – od návrhu a plánování přes programování až po nasazení na Internet, testování a následnou údržbu.
keywords: Web Developer,web appications,ruby on rails
---

<div class="hlavicka">
  <div class="container">
    <div class="row">
      <ul class="nav nav-pills pull-right" id="language">
        <li role="presentation"><a href="/">Čeština</a></li>
        <li role="presentation"><a href="/en">English</a></li>
      </ul>
      <div class="col-md-6 col-lg-6">
        <%= image_tag 'adam_martinik_squere.png', class: 'hidden-md hidden-lg pull-left img-circle', alt: 'Adam Martiník', height: 200, width: 200 %>
        <h1>Adam Martiník<span> Web Application Programmer</span></h1>
        <div class="clearfix"></div>
        <div class="title">
          Making sense of web applications.
        </div>
        <p>
          I know how to eliminate unnecessary obstructions which keep you from concentrating on what is crucial for you and your work.
        </p>
        <p>
          I provide comprehensive web development - from design and planning, to programming to deployment on the Internet, testing and subsequent maintenance. Please have a look at how I work, or contact me directly.
        </p>
        <div class="citat">
          “The greatest joy I get is when I can successfully help people realize their visions.”
        </div>
        <div class="kontaktBlok">
          <a href="#kontakt">CONTACT</a><span> Currently <strong>accepting</strong> new orders.</span>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <%= image_tag 'adam_martinik.jpg', alt: 'Adam Martiník', height: '648', width: '555', class: 'hidden-xs hidden-sm' %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>How I Work <span>— and Why I Do It This Way</span></h2>
      <p>
        I believe that the key to good cooperation is based on constructive and regular communication. And therefore, before the start of every project, I prefer to discuss the idea or problem directly with the client. Through these personal interactions, we come to understand each other more, and whether or not the collaboration would serve us well.
      </p>
      <p>
        If we decide to work together, it is necessary from the beginning to be clear on a few key points. We will arrange evaluations of the project, invoicing, and agree on the time, place and how the application will be put into operation.
      </p>
    </div>

    <div class="step col-sm-4 col-md-4 col-lg-4 text-center">
      <%= image_tag "1.png", height: "96", width: "97", alt: "Komunikace s klientem" %>
      <%= image_tag "sipka1.png", class: 'hidden-xs sipka', height: "38", width: "40", alt: "" %>
      <p>
       First, we put together your requirements, what you expect from the website, who it is for, its purpose, etc.
      </p>
    </div>
    <div class="step col-sm-4 col-md-4 col-lg-4 text-center">
      <%= image_tag "2.png", height: "96", width: "97", alt: "Spacifikace webového projektu" %>
      <%= image_tag "sipka1.png", class: 'hidden-xs sipka', height: "38", width: "40", alt: "" %>
      <p>
        Based on these requirements, I will prepare the necessary analysis and the system specification.
      </p>
    </div>
    <div class="step col-sm-4 col-md-4 col-lg-4 text-center">
      <%= image_tag "3.png", height: "96", width: "97", alt: "Priority webového projektu" %>
      <p>
        After that, we will select the requirements with the current highest priority, which will be part of the first sprint.
        <span class="hidden-xs" id="arrow">↓</span>
      </p>
    </div>
    <div class="step col-sm-4 col-md-4 col-lg-4 text-center">
      <%= image_tag "4.png", height: "96", width: "97", alt: "Urdzba webového projektu" %>
      <%= image_tag "sipka2.png", class: 'hidden-xs sipka', height: "38", width: "40", alt: "" %>
      <p>
        Provided everything suits your requirements, the web will be put into operation and the web site maintenance is ready to begin.
      </p>
    </div>
    <div class="step col-sm-4 col-md-4 col-lg-4 text-center">
      <%= image_tag "5.png", height: "96", width: "97", alt: "Feedback k praci" %>
      <%= image_tag "sipka2.png", class: 'hidden-xs sipka', height: "38", width: "40", alt: "" %>
      <p>
        After you have assessed the previous sprint, we can discuss any suggestions from you, and implement them in any further sprints.
      </p>
    </div>
    <div class="step col-sm-4 col-md-4 col-lg-4 text-center">
      <%= image_tag "6.png", height: "96", width: "97", alt: "Odevzdani webového projektu" %>
      <p>
        As soon as I have fulfilled all requirements, the work is submitted. At that point everything is ready for testing.
      </p>
    </div>
  </div>
</div>


<div class="sedyBox">
  <div class="container">
    <div class="col-lg-12">
      <h2>What I Can Do <span>— and Where I Am Most Confident</span></h2>
      <p>
        I am a computer programmer from Ostrava who develops web applications based on the <strong>Ruby on Rails</strong> platform. I have worked in this field and cooperated with both Czech and foreign clients since I graduated <strong>over 7 years</strong> ago. I provide comprehensive web development (full-stack) - from design and planning, to programming to deployment on the Internet, testing and subsequent maintenance.

      </p>
    </div>
    <div class="col-md-6 col-lg-6">
      <h3>My Work Experience <span>— what Have I Worked On?</span></h3>

      <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
          <br />
          <a href="http://popperception.com" target="_blank">
            <%= image_tag "popperception.png", height: "72", width: "100", alt: "PopPerception" %>
          </a>
        </div>
        <div class="col-md-9">
          <h4><a href="http://popperception.com" class="gray" target="_blank">PopPerception</a></h4>
          <p>I helped create a web application which measures and enables you to follow the development of American celebrities’ popularity in real time.</p>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
          <br />
          <a href="http://foundum.com" target="_blank">
            <%= image_tag "foundum.png", height: "72", width: "100", alt: "Foundum" %>
          </a>
        </div>
        <div class="col-md-9">
          <h4><a href="http://foundum.com" class="gray" target="_blank">Foundum</a></h4>
          <p>For more than three years working for the leading Spanish start-up project, <a href="http://foundum.com" target="_blank">Foundum</a>. Foundum creates business ecosystems and connects entrepreneurs with relevant investors and advisors. I am responsible for the entire technical layout.
          </p>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
          <br />
          <a href="http://trackwave.com" target="_blank">
            <%= image_tag "trackwave.png", height: "72", width: "100", alt: "TrackWave" %>
          </a>
        </div>
        <div class="col-md-9">
          <h4><a href="http://trackwave.com" class="gray" target="_blank">TrackWave</a></h4>
          <p>TrackWave is the web application which obtains feedback via questionnaires that are situated at post offices across the United States.</p>
        </div>

        <div class="col-md-12" id="project-list">
          <h4>Other Projects:</h4>
          <%= partial 'shared/projects'%>
          etc.
        </div>
      </div>

    </div>
    <div class="col-md-6 col-lg-6">
      <h3>Reference <span>— who Recommended Me?</span></h3>
      <br />
      <blockquote class="reference">
        “I've worked with Adam very closely developing Foundum platform. He's been full-stack developer with main focus on performance of our app making it fast and responsive. Great communication, delivering on time and always in good mood. :-)”

        <strong>— <a href="http://cz.linkedin.com/in/martincik" class="gray" target="_blank">Ladislav Martinčík</a>, Coach and Software Entrepreneur</strong>
      </blockquote>
      <blockquote class="reference">
        “Adam Martinik in January 2015 proposed a website for our veterinary genetics laboratory GenRex s.r.o. He did an excellent job. Our site looks professional, it is absolutely functional and precisely targeted to our needs and client's needs. Collaboration with Adam has been very beneficial. We had a number of brainstorming discussions together, and important information has always been properly incorporated into the resulting site. We are still working with Adam to develop and update the site. I can recommend Adam to anyone looking for a professional, hard-working and creative web designer.”

        <strong>— <a href="http://www.genrex.cz" class="gray" target="_blank">Mgr. Jiří Černý</a>, Executive Director of GenRex s.r.o.</strong>
      </blockquote>
      <blockquote class="reference">
        “Adam is a highly skilled engineer in both Ruby and JavaScript, and is extremely easy to communicate and work with.”

        <strong>— <a href="http://www.linkedin.com/in/nickwientge" class="gray" target="_blank">Nick Wientge</a>, Lead Developer at Differential</strong>
      </blockquote>
      <!--blockquote class="reference">
        “Adam je nejen výborný programátor, ale také velmi dobrý stratég. Nepodceňuje fázi analýzy a návrhu. Jeho výstupy jsou velmi spolehlivé a snadno rozšiřitelné. Co víc chtít?”

        <strong>— <a href="http://cz.linkedin.com/in/zahuta" class="gray" target="_blank">Martin Zahuta</a>, Designer and videographer</strong>
      </blockquote-->
    </div>
  </div>
</div>

<%= partial 'shared/contact_en' %>





